#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.app-publications{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 600px;
}

.section-publication, .section-posts{
  width: 100%;
}

.section-posts img{
  /* max-width: 508px; */
  width: 95%;
  height: auto;
  border-radius: 12px;
  margin-top: 6px;
}

.card-posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.interactive-element{
  cursor: pointer;
}

.comment-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
}

.comment-section ul from{
  width: 100%;
}

.comment-item-li{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.resumen-icons-comments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-left: 8px;
  margin-right: 8px;
}

.resumen-icons-comments svg{
  width: 15px;
  height: 15px;
}

.card-content-post,
.card-content-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 360px;
}

.what-do-you-thing{
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.follow-posts{
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  width: 100%;
}

/* .follow-posts p{
  justify-content: flex-start;
  border: 1px solid whitesmoke;
  border-radius: 12px;
} */

.what-do-you-thing form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.what-do-you-thing input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 25px;
  height: 50px;
}

.what-do-you-thing form img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.btns-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0px 80px
}

.btns-actions svg{
  height: auto;
  width: 40px;
}

.post-secction-commits{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-resume-commits{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.post-commits-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  position: relative;
  height: 60px;
}

/* .post-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
} */

.post-resume{
  display: flex;
  flex-direction: row;
}

.post-commits{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: #ccc;
}

.post-commits p{
  font-size: x-small;
}